/* body {
       font-family: Arial, sans-serif;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
       margin: 0;
       background-color: #f0f0f0;
   } */
   
   .container {
       text-align: center;
       overflow: hidden;
       width: 300px;
       min-height: 150px;
   }
   
   .card-wrapper {
       display: flex;
       transition: transform 0.7s cubic-bezier(.22,.55,.43,.77);
   }
   
   .card {
       min-width: 100%;
       box-sizing: border-box;
       border: 1px solid #ccc;
       border-radius: 5px;
       padding: 20px;
       background-color: #fff;
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
       height: 400px;
       /* position: relative;*/
   } 
   