:root{
	--toggle-color: #FFFFFF;
	
}
.toggleContainer {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: fit-content;
	border: 3px solid var(--toggle-color);
	border-radius: 20px;
	background: var(--toggle-color);
	font-weight: bold;
	color: var(--card-color);
	cursor: pointer;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 10px;
}
.toggleContainer::before {
	content: "";
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0%;
	border-radius: 20px;
	background: var(--card-color);
	transition: all 0.7s;
}
.toggleCheckbox:checked + .toggleContainer::before {
	left: 50%;
}
.toggleContainer div {
	padding: 6px;
	text-align: center;
	z-index: 1;
}
.toggleCheckbox {
	display: none;
}
.toggleCheckbox:checked + .toggleContainer div:first-child {
	color: var(--card-color);
	transition: color 0.3s;
}
.toggleCheckbox:checked + .toggleContainer div:last-child {
	color: var(--toggle-color);
	transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:first-child {
	color: var(--toggle-color);
	transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:last-child {
	color: var(--card-color);
	transition: color 0.3s;
}
